name: Docker Compose Up and Health Check

on:
  pull_request:
  push:
    branches: [main]

jobs:
  docker-compose-up:
    name: Docker Compose Up
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Run docker-compose up -d
      run: docker-compose up -d

      # Wait for containers to start up (adjust the sleep time as needed)
    - name: Wait for containers to start
      run: sleep 10

    - name: Check container health
      run: docker-compose ps --filter "status=unhealthy" --quiet
      continue-on-error: true
      id: check_health

    - name: Print container health status
      run: |-
        if [ -z "${{ steps.check_health.outputs.stdout }}" ]; then
          echo "All containers are healthy"
          exit 0
        else
          echo "Some containers are unhealthy"
          exit 1
        fi
